@model IEnumerable<ColorSelectViewModel>
@{
	ViewData["Title"] = "Colors";
}


<h1>@ViewData["Title"]</h1>

	<a asp-controller="Colors" asp-action="Add" class="btn btn-outline-dark col-sm w-auto m-1 mb-3">Add Color</a>

<div class="container-fluid">
	<ul class="list-group">
		@foreach(var color in Model)
		{
			<li class="list-group-item">
				<div class="row">

					<div class="color-displayer col-5 col-lg-2 d-flex rounded-pill" style="background-color:@color.ColorValue;color:@color.ColorValue">Color</div>
					<a asp-controller="Colors" asp-action="Delete" asp-route-colorId="@color.Id" class="col-1 d-flex mt-auto mb-auto me-1 link-secondary text-decoration-none delete-button"><i class="fa-solid fa-trash"></i></a>
				</div>
				
			</li>
		}
	</ul>
</div>

@section Scripts {
	<script src="https://kit.fontawesome.com/2d34f22aab.js" crossorigin="anonymous"></script>
	<script src="~/js/confirmDelete.js"></script>
}