@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <p>Welcome to the admin panel!</p>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AppPreferences">App Preferences</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Categories" asp-action="All">Categories</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Subcategories">Subcategories</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Products">Products</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Colors">Colors</a>

        <a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="MakeAdmin">Make admin</a>
        
    </div>
</div>
