@{
	ViewData["Title"] = "Products";
}
@model IEnumerable<ProductViewModel>;

<!DOCTYPE html>
<html>
<head>
	<title>Product List</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

		<div class="row">
			<aside class="col-lg-3">
				<form>
					<label for="color">Color:</label>
					<select id="color" name="color" multiple>
						<option value="red">Red</option>
						<option value="blue">Blue</option>
						<option value="green">Green</option>
					</select>
					<br>
					<label for="material">Material:</label>
					<input type="text" id="material" name="material">
					<br>
					<label for="price">Price:</label>
					<input type="range" id="price-min" name="price-min" min="0" max="100" step="1" value="0">
					<input type="range" id="price-max" name="price-max" min="0" max="100" step="1" value="100">
					<br>
					<input type="submit" value="Search">
				</form>
			</aside>

			<main class="col-lg-9">
				<h2>Product List</h2>
				<div class="container">
					<div class="row">


					@foreach (var product in Model)
					{

						<div class="col-lg-4">	
									<img src="~/img/@product.PictureUrl" alt="Product Image" class="img-fluid">			
									<h5>@product.Name</h5>
									<p>Price: @product.Price BGN</p>
														
						</div>
					}

					</div>

				</div>
			</main>
		</div>
</body>
</html>

