@model TagFormViewModel
@{
	ViewData["Title"] = "Add Tag";

}


<div class="container mt-5">
		<h2 class="mb-3">@ViewData["Title"]</h2>

	
	<form id="categoryForm" enctype="multipart/form-data" method="post">
		<div class="mb-3">
			<label asp-for="Name" class="form-label">Tag Name</label>
			<input asp-for="Name" class="form-control" autocomplete="Name" aria-required="true" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		
		<div>

			<button type="submit" asp-area="Admin" asp-controller="Tags" asp-action="Add" class="btn btn-primary">Add Tag</button>
		</div>
	</form>
</div>

<!-- Add the Bootstrap JS script -->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
